@model IEnumerable<UserModel>

@{
    ViewBag.Title = "Utilisateurs";
}

@section Head
{
    <link rel="stylesheet" href="/css/lists/table.css" asp-append-version="true"/>
}

@section Header
{
    <h1>Liste des utilisateurs</h1>
}

<main>
    @await Html.PartialAsync("_Nav")
    <div>
        <div>
            <form asp-controller="Users" asp-action="Index" method="get">
                <input type="text" name="name" placeholder="Nom"/>
                <input type="text" name="corporation" placeholder="Corporation"/>
                <select name="state">
                    <option value="null" selected="@(ViewBag.state == null ? "selected" : null)">Tous</option>
                    <option value="0" selected="@(ViewBag.state == 0 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Ally)</option>
                    <option value="1" selected="@(ViewBag.state == 1 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Neutral)</option>
                    <option value="2" selected="@(ViewBag.state == 2 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Hostile)</option>
                </select>
                <button type="submit">Rechercher</button>
            </form>
            @await Html.PartialAsync("_Paging")
        </div>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Statut</th>
                <th>Recherché</th>
                <th>Corporation</th>
                <th>Dossier</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr class="@(user.isWanted ? "user--wanted" : "")">
                    <td>@user.name</td>
                    <td>@UserModel.StateToString(user.state)</td>
                    <td>@(user.isWanted ? "oui" : "non")</td>
                    <td>@user.corporation</td>
                    <th>
                        <a asp-controller="Users" asp-action="Folder" asp-route-id="@user.id">Ouvrir</a>
                    </th>
                </tr>
            }
            </tbody>
        </table>
        @await Html.PartialAsync("_Paging")
    </div>
</main>