@model IEnumerable<UserModel>

@{
    ViewBag.Title = "";
}

@section Head
{
    <link rel="stylesheet" href="/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/css/wanted.css" asp-append-version="true"/>
}

@* @section Nav *@
@* { *@
@*     <form id="search" asp-controller="OldUsers" asp-action="Wanted" method="get"> *@
@*         <input type="text" name="name" placeholder="Recherche par nom" value="@ViewBag.name" autocomplete="off"/> *@
@*         <input type="text" name="corporation" placeholder="Recherche par corporation" value="@ViewBag.corporation" autocomplete="off"/> *@
@*         <button type="submit">Rechercher</button> *@
@*     </form> *@
@*     <p id="nUsers">Résultat : @ViewBag.nUsers @(ViewBag.nUsers < 2 ? "utilisateur" : "utilisateurs")</p> *@
@* } *@

<main>
    <nav class="pagination">
        <ul>
            <li>
                @if (ViewBag.page > 1)
                {
                    <a class="button" asp-route-page=@(ViewBag.page - 1) asp-route-name="@ViewBag.name" asp-route-corporation="@ViewBag.corporation" asp-route-state="@ViewBag.state">&lt;</a>
                }
                else
                {
                    <a class="button button--disable">&lt;</a>
                }
            </li>

            @for (var i = 0; i < ViewBag.nPages; i++)
            {
                if (i > 0 && i < ViewBag.nPages - 1 && (i < ViewBag.page - 3 || i > ViewBag.page + 1))
                    continue;

                <li>
                    @{
                        var index = i + 1;
                        if (ViewBag.page == index)
                        {
                            <a class="button button--disable">@index</a>
                        }
                        else
                        {
                            <a class="button" asp-route-page=@index asp-route-name="@ViewBag.name" asp-route-corporation="@ViewBag.corporation" asp-route-state="@ViewBag.state">@index</a>
                        }
                    }
                </li>
            }

            <li>
                @if (ViewBag.page < ViewBag.nPages)
                {
                    <a class="button" asp-route-page=@(ViewBag.page + 1) asp-route-name="@ViewBag.name" asp-route-corporation="@ViewBag.corporation" asp-route-state="@ViewBag.state">&gt;</a>
                }
                else
                {
                    <a class="button button--disable">&gt;</a>
                }
            </li>
        </ul>
    </nav>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Corporation</th>
            <th>Priority</th>
            <th>Dossier</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.name</td>
                <td>@user.corporation</td>
                <td>@(user.wantedScore == 0 ? "Aucune" : user.wantedScore)</td>
                <td>
                    <a asp-action="Profil" asp-route-id="@user.id">Voir</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav class="pagination">
        <ul>
            <li>
                @if (ViewBag.page > 1)
                {
                    <a class="button" asp-route-page=@(ViewBag.page - 1) asp-route-name="@ViewBag.name" asp-route-corporation="@ViewBag.corporation" asp-route-state="@ViewBag.state">&lt;</a>
                }
                else
                {
                    <a class="button button--disable">&lt;</a>
                }
            </li>

            @for (var i = 0; i < ViewBag.nPages; i++)
            {
                if (i > 0 && i < ViewBag.nPages - 1 && (i < ViewBag.page - 3 || i > ViewBag.page + 1))
                    continue;

                <li>
                    @{
                        var index = i + 1;
                        if (ViewBag.page == index)
                        {
                            <a class="button button--disable">@index</a>
                        }
                        else
                        {
                            <a class="button" asp-route-page=@index asp-route-name="@ViewBag.name" asp-route-corporation="@ViewBag.corporation" asp-route-state="@ViewBag.state">@index</a>
                        }
                    }
                </li>
            }

            <li>
                @if (ViewBag.page < ViewBag.nPages)
                {
                    <a class="button" asp-route-page=@(ViewBag.page + 1) asp-route-name="@ViewBag.name" asp-route-corporation="@ViewBag.corporation" asp-route-state="@ViewBag.state">&gt;</a>
                }
                else
                {
                    <a class="button button--disable">&gt;</a>
                }
            </li>
        </ul>
    </nav>
</main>