@model CreateUserModel;

@{
    ViewBag.Title = "Création";
}

<main>
    <h1>Création d'un utilisateur</h1>
    @if (ViewBag.error != null)
    {
        <p id="error">@ViewBag.error</p>
    }
    <form asp-controller="Users" asp-action="Create" method="post">
        <input asp-for="name" placeholder="Nom de l'utilisateur"/>
        @Html.ValidationMessage("name")
        <div>
            <div class="input-and-message-container">
                <input asp-for="corporation" placeholder="Corporation de l'utilisateur"/>
                @Html.ValidationMessage("corporation")
            </div>
            <select name="state" id="state">
                <option value="1" selected="@((int)Model.state == 1 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Neutral)</option>
                <option value="0" selected="@((int)Model.state == 0 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Ally)</option>
                <option value="2" selected="@((int)Model.state == 2 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Hostile)</option>
            </select>
        </div>
        <div>
            <label class="toggle">Recherché ?<input asp-for="wanted"/></label>
            <input asp-for="wantedScore" placeholder="Corporation de l'utilisateur"/>
        </div>
        <input asp-for="divers" placeholder="Infos divers"/>
        <button type="submit">envoyer</button>
    </form>
</main>