@model CreateUserModel;

@{
    ViewBag.Title = ViewBag.edit ? "Edition" : "Création";
}

@section Head
{
    <link rel="stylesheet" href="/css/users/edit.css" asp-append-version="true"/>
}

<main>
    <h1>@(ViewBag.edit ? "Edition d'un utilisateur" : "Création d'un utilisateur")</h1>
    @if (ViewBag.error != null)
    {
        <p id="error">@ViewBag.error</p>
    }
    <form asp-controller="Users" asp-action="@(ViewBag.edit ? "Edit" : "Create")" method="post">
        @if (ViewBag?.edit)
        {
            <input type="hidden" name="id" value="@Model.id"/>
        }
        <input asp-for="name" placeholder="Nom de l'utilisateur"/>
        @Html.ValidationMessage("name")
        <div>
            <div class="input-and-message-container">
                <input asp-for="corporation" placeholder="Corporation de l'utilisateur"/>
                @Html.ValidationMessage("corporation")
            </div>
            <select name="state" id="state">
                <option value="1" selected="@((int)Model.state == 1 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Neutral)</option>
                <option value="0" selected="@((int)Model.state == 0 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Ally)</option>
                <option value="2" selected="@((int)Model.state == 2 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Hostile)</option>
            </select>
        </div>
        <div>
            <label class="toggle">Recherché ?<input asp-for="wanted"/></label>
            <input asp-for="wantedScore" placeholder="Corporation de l'utilisateur"/>
        </div>
        <input asp-for="divers" placeholder="Infos divers"/>
        <button type="submit">envoyer</button>
    </form>
</main>