@using DataBaseCDF.Services
@model FolderModel;

@{
    ViewBag.Title = Model.user.GetStringId();
    var isAdmin = User.IsAdmin();
}

<main>
    <div id="card">
        <p id="id">@Model.user.GetStringId()</p>
        <h1>@Model.user.name</h1>
        <h2>@Model.user.corporation</h2>
        <div id="complementary">
            <p>Divers : @Model.user.divers</p>
            <p>Etat : @UserModel.StateToString(Model.user.state)</p>
            <p>@(Model.user.isWanted ? "Non recherché." : $"Activement recherché : priorité {Model.user.wantedScore}")</p>
        </div>
        <h3>Casier</h3>
        <div id="criminal-record__container">
            @if (Model.records.Length == 0)
            {
                <p>Aucun rapport.</p>
            }
            else
            {
                foreach (var record in Model.records)
                {
                    <div class="criminal-record">
                        <p>@record.message</p>
                        @if (isAdmin)
                        {
                            <p>@UserModel.GetStringId(record.authorId)</p>
                        }
                    </div>
                }
            }
        </div>
        <div id="buttons">
            <a id="rapport" asp-action="Report" asp-route-id="@Model.user.id" class="button">Ajouter un rapport</a>
            <a asp-action="Edit" asp-route-id="@Model.user.id">Modifier</a>
            <a asp-controller="Members" asp-action="Edit" asp-route-id="@Model.user.id">@(ViewBag.isMember ? "Modifier le" : "Définir") membre</a>
        </div>
    </div>
</main>