@model IEnumerable<UserModel>

@{
    ViewData["Title"] = "CDF";
}

@section Head
{
    <link rel="stylesheet" href="/css/home.css" asp-append-version="true"/>
}

@section Nav
{
    <form id="search" asp-controller="Users" asp-action="Index" method="get">
        <input type="text" name="name" placeholder="Recherche par nom" value="@ViewBag.name" autocomplete="off"/>
        <input type="text" name="corporation" placeholder="Recherche par corporation" value="@ViewBag.corporation" autocomplete="off"/>
        <select name="state">
            <option value="-1" selected="@(ViewBag.state == -1 ? "selected" : null)">Tous</option>
            <option value="0" selected="@(ViewBag.state == 0 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Ally)</option>
            <option value="1" selected="@(ViewBag.state == 1 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Neutral)</option>
            <option value="2" selected="@(ViewBag.state == 2 ? "selected" : null)">@UserModel.StateToString(UserModel.State.Hostile)</option>
        </select>
        <button type="submit">Rechercher</button>
    </form>
}

<main>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Statut</th>
            <th>Recherché</th>
            <th>Corporation</th>
            <th>Dossier</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.name</td>
                <td>@UserModel.StateToString(user.state)</td>
                <td>@(user.isWanted ? "oui" : "non")</td>
                <td>@user.corporation</td>
                <td><a asp-action="Profil" asp-route-id="@user.id">Voir</a></td>
            </tr>
        }
        </tbody>
    </table>
</main>