@section Head
{
    <link rel="stylesheet" href="/css/member.css" asp-append-version="true"/>
}

@section Nav
{
    <header>
        <h1>@(ViewBag.isNew ? "Définir" : "Modifier") un membre</h1>
    </header>
}

<main>
    <p class="id">@UserModel.GetStringId(ViewBag.id)</p>
    <form method="post" asp-controller="Users" asp-action="Member">
        <input type="hidden" name="isNew" value="@(ViewBag.isNew ? "true" : "false")" required/>
        <input type="hidden" name="id" value="@ViewBag.id" required/>
        @if (ViewBag.isNew)
        {
            <label for="password">Mot de passe : <input type="password" name="password" id="password" required/></label>
        }
        else
        {
            <label for="password">Mot de passe : <input type="password" name="password" id="password"/></label>
        }
        <label>Admin : <input type="checkbox" name="isAdmin" value="true" @(ViewBag.isAdmin ? "checked" : "")/></label>
        <button type="submit">Terminer</button>
        <hr/>
        @if (!ViewBag.isNew)
        {
            <a asp-controller="Users" asp-action="RemoveMember" asp-route-id="@ViewBag.id" id="delete">Supprimer</a>
        }
    </form>
</main>