@using DataBaseCDF.Services
@model UserModel

@{
    ViewBag.Title = Model.GetStringId();
    var isAdmin = User.IsAdmin();
}

@section Head
{
    <link rel="stylesheet" href="/css/profil.css" asp-append-version="true"/>
}

@section Nav
{
    <header>
        <h1>@Model.name</h1>
        <p id="id">@Model.GetStringId()</p>
        <p id="state" class="@(Model.state switch { UserModel.State.Ally => "green", UserModel.State.Hostile => "red", _ => "grey" })">
            [@UserModel.StateToString(Model.state)]
        </p>
    </header>
}

<main>
    @if (isAdmin)
    {
        <p id="lastUpdate">
            Dernière modification le @Model.lastUpdate.ToShortDateString(), par
            <a asp-action="Profil" asp-route-id="@Model.agentId">@(UserModel.GetStringId(Model.agentId))</a>
        </p>
    }
    @if (Model.isWanted)
    {
        <p id="wanted">Cet individu est activement recherché (priorité : @Model.wantedScore) !</p>
    }
    <div class="infos">
        <p>Corporation</p>
        <p>@Model.corporation</p>
    </div>
    <div class="infos">
        <p>Divers</p>
        <p>@Model.divers</p>
    </div>
    <div id="casier" class="infos">
        <p>Casier judiciaire</p>
        <div>
            @foreach (var folder in Model.folders)
            {
                <div class="folder">
                    <p class="folder__message">@folder.message</p>
                    @if (isAdmin)
                    {
                        <p class="folder__author">@(UserModel.GetStringId(folder.authorId))</p>
                    }
                </div>
            }
        </div>
    </div>
    <div id="buttons">
        <a asp-controller="Users" asp-action="Report" asp-route-id="@Model.id">Ajouter un report</a>
        @if (isAdmin)
        {
            <a asp-controller="Users" asp-action="Edit" asp-route-id="@Model.id">Modifier</a>
            @if (Model.isMember)
            {
                <a asp-controller="Users" asp-action="Member" asp-route-id="@Model.id">Paramètre du membre</a>
            }
            else
            {
                <a asp-controller="Users" asp-action="Member" asp-route-id="@Model.id">Définir membre</a>
            }
        }
    </div>
</main>